body
{
    margin: 0;
    padding: 0;
    background: black;
    height: 405vh;
    font-family:Open Sans Condensed;
}

.section-choose{
    position: fixed;
    top: 0;
    left: 0;
    transition: .8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-size: 5em;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
    overflow: hidden;
}
.section-choose-hidden{
    transform: translateX(100%);
    opacity: 0;
}
.section-choose a{
    width: 50%;
    text-align: center;
    text-decoration: none;
    color: white;
    border-bottom: 4px solid #fff;
    user-select: none;
    padding-right: 0;
    transition: .8s ease-in-out;
}
.animlink1{
    animation: link1 .8s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes link1{
    to{
        padding-right: 15%;
    }
}
.animlink2{
    animation: link2 .8s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: .2s;
}
@keyframes link2{
    to{
        padding-right: 25%;
    }
}
.animlink3{
    animation: link3 .8s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: .4s;
}
@keyframes link3{
    to{
        padding-right: 35%;
    }
}
.animlink4{
    animation: link4 .8s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: .6s;
}
@keyframes link4{
    to{
        padding-right: 45%;
    }
}
.section-choose a:hover{
    color: gold;
    text-shadow: 0 0 15px rgba(255, 251, 0);
    border-color: gold;
}
#hamburger{
    position: fixed;
    top: 0;
    right: 0;
    padding: 5%;
    background: transparent;
    width: 60px;
    height: 60px;
    z-index: 1000;
    cursor: pointer;
    text-align: end;
}
#hamburger hr{
    height: 5px;
    background: wheat;
    transition: .5s ease-in-out;
    margin: 10px;
}
#hamburger:hover hr{
    background: gold;
    border: 1px solid gold;
}
#crossup,#crossdown{
    width: 60px;
}
#opaque{
    width: 30px;
}
.crossup{
    position: relative;
    background: #fff;
    transform: rotateZ(45deg) translateX(-35%) translateY(-50%);
    top: 0;
    left: 0;
}
.crossdown{
    background: #fff;
    transform: rotateZ(-45deg) translateX(-33%) translateY(30%);
    position: relative;
    top: 0;
    right: 0;
}
.opaque0{
    opacity: 0;
}
.wrapper
{
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    transition: .6s linear;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.scroll-top
{
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 5%;
    right: 3%;
    background: transparent;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2em;
    font-weight: bold;
    z-index: 1001;
}
.scroll-top a{
    text-decoration: none;
    color: bisque;
    padding: 10px;
}
section
{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
height: 100vh;
width: 100%;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
font-size: 5vh;
font-weight: bold;
}

/* SECTION 1 - LOGO */
#sec1
{
    overflow: hidden;
    position: relative;
}
.logo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    height: 30%;
    position: absolute;
    top: 5%;
    left: 3%;
    background: transparent;
    font-family: 'Sacramento', cursive;
    font-weight: normal;
    font-size: 2em;
    color: gold;
    justify-content: flex-start;
    align-items: flex-start;
    user-select: none;
    transition: .8s ease-in-out;
    line-height: 1em;
}
.logo-shadow{
    text-shadow: 0 0 5px gold,
                 0 0 10px rgba(255, 217, 0, 0.76),
                 0 0 15px rgba(255, 217, 0, 0.493);
}
.logo span{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .55em;
    color: bisque;
    font-family: Open Sans Condensed;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}
.section-choose .logo{
    font-size: .75em;
    left: 5%;
}
.greeting{
    position: absolute;
    bottom: 5%;
    width: 80%;
    height: 50%;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.75),black,rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.5));
    border: 2px solid wheat;
}

/* SECTION 2 - ABOUT ME AND SKILLS */

#sec2
{   
    background: -webkit-gradient(linear, left bottom, left top, color-stop(85%, black), to(rgb(11, 11, 11)));   
    background: linear-gradient(to top, black 85%, rgb(11, 11, 11));
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.section-name,.section-name-4{
    position: absolute;
    user-select: none;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .6s ease-in-out;
    overflow: hidden;
}
.section-name-hidden{
    transform: translateX(-100%);
    opacity: 0;
}
.section-name p,.section-name-4 p{
    width: 100%;
    height: 100%;
    color: rgba(255, 217, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    font-size: 5em;
}
.skill-container
{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.skill-tree-start
{   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    width: 20%;
    height: auto;
    border: 5px solid gold;
    border-radius: 50%;
    background: black;
    margin: 15px;
    -webkit-animation: pulsate 5s ease-in-out infinite;
            animation: pulsate 5s ease-in-out infinite;
    -webkit-transition: 1s;
    transition: 1s;
    transition-property: background-color,transform;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: bisque;
    font-size: 2.5vw;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.skill-tree-start::after, .skill::after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.skill
{   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    width: 15%;
    position: relative;
    border: 5px solid rgb(2, 227, 243);
    border-radius: 50%;
    margin: 15px;
    -webkit-box-shadow: 0 0 60px 0 rgb(3, 103, 161);
            box-shadow: 0 0 60px 0 rgb(3, 103, 161);
    background: black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: bisque;
    z-index: 1;
    transition: 1s ease-in-out;
    transition-property: background-color,transform;
    font-size: 2vw;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#front-end{
    transition-delay:0s, .75s;
}
#languages{
    transition-delay:0s, .5s;
}
#softskills{
    transition-delay:0s, .25s;
}
#skill-tree-start{
    transition-delay:0s, 1s;
}
.offscreen{
    transform: translateX(600%);
}
.front-skills{
    transition: .3s linear;
    transition-delay: 1s;
    position: absolute;
    display: flex;
    width: 15%;
    flex-direction: column;
    top: 15%;
    right: 15%;
    color: #fff;
    font-size: 1em;
    opacity: 0;
}
.languages{
    transition: .3s linear;
    transition-delay: 1s;
    position: absolute;
    display: flex;
    width: 15%;
    flex-direction: column;
    top: 15%;
    left: 15%;
    color: #fff;
    font-size: 1em;
    opacity: 0;
    z-index: -1;
}
.softskills{
    transition: .3s linear;
    transition-delay: 1s;
    position: absolute;
    display: flex;
    width: 20%;
    flex-direction: column;
    top: 15%;
    left: 15%;
    color: #fff;
    font-size: 1em;
    opacity: 0;
    z-index: -1;
}
.languages p, .front-skills p, .softskills p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.languages i, .front-skills i, .softskills i{
    padding-right: 25px;
    padding-left: 25px;
    color: green;
}
.opaque{
    opacity: 1;
    z-index: inherit;
}
.skill:hover, .skill-active
{
    background: rgb(10, 98, 214);
    color: #fff;
    -webkit-box-shadow: 0 0 40px 10px rgba(204, 1, 119, 0.849);
            box-shadow: 0 0 40px 10px rgba(204, 1, 119, 0.849);
    -webkit-transition: .5s;
    transition: .5s;
    border: 5px solid #fff;
    cursor: pointer;
}
@-webkit-keyframes pulsate
{
    0%
    {
        -webkit-box-shadow: 0 0 25px 0 rgba(255, 0, 0, 0.7), 0 0 25px 0 rgba(255, 0, 0, 0.7);
                box-shadow: 0 0 25px 0 rgba(255, 0, 0, 0.7), 0 0 25px 0 rgba(255, 0, 0, 0.7);
    }
    50%
    {
        -webkit-box-shadow: 0 0 25px 50px rgba(255, 0, 0, 0), 0 0 25px 0 rgba(255, 0, 0, 0.7);
                box-shadow: 0 0 25px 50px rgba(255, 0, 0, 0), 0 0 25px 0 rgba(255, 0, 0, 0.7);
    }
    80%
    {
        -webkit-box-shadow: 0 0 25px 50px rgba(255, 0, 0, 0), 0 0 25px 50px rgba(255, 0, 0, 0);
                box-shadow: 0 0 25px 50px rgba(255, 0, 0, 0), 0 0 25px 50px rgba(255, 0, 0, 0);
    }
    100%
    {
        -webkit-box-shadow: 0 0 25px 0 rgba(255, 0, 0, 0.5), 0 0 25px 50px rgba(255, 0, 0, 0);
                box-shadow: 0 0 25px 0 rgba(255, 0, 0, 0.5), 0 0 25px 50px rgba(255, 0, 0, 0);
    }
}

@keyframes pulsate
{
    0%
    {
        -webkit-box-shadow: 0 0 25px 0 rgba(255, 0, 0, 0.7), 0 0 25px 0 rgba(255, 0, 0, 0.7);
                box-shadow: 0 0 25px 0 rgba(255, 0, 0, 0.7), 0 0 25px 0 rgba(255, 0, 0, 0.7);
    }
    50%
    {
        -webkit-box-shadow: 0 0 25px 50px rgba(255, 0, 0, 0), 0 0 25px 0 rgba(255, 0, 0, 0.7);
                box-shadow: 0 0 25px 50px rgba(255, 0, 0, 0), 0 0 25px 0 rgba(255, 0, 0, 0.7);
    }
    80%
    {
        -webkit-box-shadow: 0 0 25px 50px rgba(255, 0, 0, 0), 0 0 25px 50px rgba(255, 0, 0, 0);
                box-shadow: 0 0 25px 50px rgba(255, 0, 0, 0), 0 0 25px 50px rgba(255, 0, 0, 0);
    }
    100%
    {
        -webkit-box-shadow: 0 0 25px 0 rgba(255, 0, 0, 0.5), 0 0 25px 50px rgba(255, 0, 0, 0);
                box-shadow: 0 0 25px 0 rgba(255, 0, 0, 0.5), 0 0 25px 50px rgba(255, 0, 0, 0);
    }
}
.skill-tree-start:hover
{
    -webkit-animation: pulsate-alt 5s linear infinite;
            animation: pulsate-alt 5s linear infinite;
    cursor: pointer;
}

@-webkit-keyframes pulsate-alt
{
    0%
    {
        -webkit-box-shadow: 0 0 25px 0 rgba(0, 255, 0, 0.733), 0 0 25px 0 rgba(0, 255, 0, 0.7);
                box-shadow: 0 0 25px 0 rgba(0, 255, 0, 0.733), 0 0 25px 0 rgba(0, 255, 0, 0.7);
    }
    30%
    {
        -webkit-box-shadow: 0 0 25px 50px rgba(0, 255, 0, 0), 0 0 25px 0 rgba(0, 255, 0, 0.7);
                box-shadow: 0 0 25px 50px rgba(0, 255, 0, 0), 0 0 25px 0 rgba(0, 255, 0, 0.7);
    }
    60%
    {
        -webkit-box-shadow: 0 0 25px 50px rgba(0, 0, 0, 0), 0 0 25px 50px rgba(0, 255, 0, 0);
                box-shadow: 0 0 25px 50px rgba(0, 0, 0, 0), 0 0 25px 50px rgba(0, 255, 0, 0);
    }
    100%
    {
        -webkit-box-shadow: 0 0 25px 0 rgba(0, 255, 0, .5), 0 0 25px 50px rgba(0, 255, 0, 0);
                box-shadow: 0 0 25px 0 rgba(0, 255, 0, .5), 0 0 25px 50px rgba(0, 255, 0, 0);
    }
}

@keyframes pulsate-alt
{
    0%
    {
        -webkit-box-shadow: 0 0 25px 0 rgba(0, 255, 0, 0.733), 0 0 25px 0 rgba(0, 255, 0, 0.7);
                box-shadow: 0 0 25px 0 rgba(0, 255, 0, 0.733), 0 0 25px 0 rgba(0, 255, 0, 0.7);
    }
    30%
    {
        -webkit-box-shadow: 0 0 25px 50px rgba(0, 255, 0, 0), 0 0 25px 0 rgba(0, 255, 0, 0.7);
                box-shadow: 0 0 25px 50px rgba(0, 255, 0, 0), 0 0 25px 0 rgba(0, 255, 0, 0.7);
    }
    60%
    {
        -webkit-box-shadow: 0 0 25px 50px rgba(0, 0, 0, 0), 0 0 25px 50px rgba(0, 255, 0, 0);
                box-shadow: 0 0 25px 50px rgba(0, 0, 0, 0), 0 0 25px 50px rgba(0, 255, 0, 0);
    }
    100%
    {
        -webkit-box-shadow: 0 0 25px 0 rgba(0, 255, 0, .5), 0 0 25px 50px rgba(0, 255, 0, 0);
                box-shadow: 0 0 25px 0 rgba(0, 255, 0, .5), 0 0 25px 50px rgba(0, 255, 0, 0);
    }
}

@media screen and (max-width:768px) and (orientation:portrait)
{
    .skill,.skill-tree-start
    {
        font-size: .5em;
    }
    .skill-container{
        flex-direction: column;
    }
    .front-skills{
        top: 50%;
        right: 43%;
        align-items: center;
    }
    .front-skills p{
        margin: 15px;
    }
    .languages{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }
}

/* SECTION 3 - PROJECTS */
#sec3{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgb(0, 0, 0);
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.section-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
}
.section-3-name{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom: 5%;
    font-size: 4em;
    transition: 1s ease-in-out;
    transform: rotateZ(-90deg);
    color: rgba(255, 217, 0, 0.65);
}
.section-3-name-hidden{
    transform: rotateZ(-90deg) translateX(-800%);
    opacity: 0;
}
.project-container{
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
    top: 0;
    display: flex;
    flex-wrap: wrap;
}
.project-thumbnail
{
    width: 25%;
    height: 30%;
    border: 1px solid bisque;;
    background: url(https://picsum.photos/200/300);
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: bisque;
    margin: 35px;
    margin-top: 5%;
    -webkit-box-shadow: 0 0 10px white;
            box-shadow: 0 0 10px white;
    
}
.project-thumbnail a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
}
.project-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transition: .5s ease-in-out;
    text-align: center;
    transform: translateY(100%);
}
.project-thumbnail:hover{
    -webkit-box-shadow: 0 0 20px white;
            box-shadow: 0 0 20px white;
    color: gold;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
.project-thumbnail:hover .project-title{
    transform: none;
}
#pro1{
    background-image: url(../images/starwars-thumbnail.gif);
    background-size: cover;
    background-position: center;
}
@media (max-width:1366px){
    .project-thumbnail{
        width: 100%;
        height: 60%;
    }
}
/* SECTION 4 - CONTACT */

#sec4{
    align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    display: flex;
    flex-direction: row;
}
#sec4::before {
    background: url(../images/sec4bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
}

.contact{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    font-size: 3em;
    color: bisque;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    z-index: 1;
}
.contact i:hover{
    color: gold;
    transform: scale(1.5);
}
.contact i{
    transition: .5s;
    text-shadow: 0 0 50px grey;
}
.contact a{
    text-decoration: none;
    color: inherit;
}

#sec4 h1{
    width: 100%;
}

.footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 5vh;
    background: black;
    color: bisque;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2em;
    border-top: 2px solid bisque;
}


@media (min-width:320px) and (max-width:768px) and (orientation:portrait){
    .logo{
        font-size: 1.0em;
        text-align: start;
    }
    .section-name p{
        font-size: 6em;
    }
    .section-choose a{
        font-size: .75em;
    }
    .section-choose .logo{
        font-size: .5em;
    }
    .skill-tree-start{
        width: 30%;
        font-size: .75em;
    }
    .skill{
        width: 25%;
        font-size: .75em;
        margin-top: 10px;
    }
    .softskills,.front-skills{
        top: 10%;
        left: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .front-skills{
        top: 50%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .front-skills p{
        margin: 0;
        width: 35%;
        padding-left: 8%;
        justify-content: flex-start;
    }
    .languages{
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .languages p{
        width: 100%;
        padding-right: 30px;
        margin-top: 20px;
    }
    .languages  i{
        padding-left: 0;
    }
    .softskills i{
        padding: 7px;
    }
    .section-3-name{
        font-size: 2.0em;
    }
    .section-name-4{
        font-size: .75em;
    }
    #sec4{
        flex-direction: column;
    }
    .contact{
        padding-bottom: 13%;
    }
}
@media (min-width:320px) and (max-width:768px) and (orientation:landscape){
    .section-choose a{
        font-size: .75em;
    }
    .section-choose .logo{
        font-size: .5em;
        text-align:start;
    }
    #hamburger{
        padding-top: 2%;
        padding-right: 5%;
    }
    .skill-tree-start{
        width: 30%;
        font-size: 1.4em;
    }
    .skill{
        width: 25%;
        font-size: 1.3em;
    }
    .softskills,.front-skills,.languages{
        font-size: 1.5em;
        top: 3%;
    }
   .softskills{
       width: 40%;
       left: 5%;
       justify-content: flex-start;
       align-items: flex-start;
   }
   .front-skills{
    width: 20%;
    justify-content: flex-start;
    align-items: flex-end;
}
    .front-skills p,.languages p,.softskills p{
        margin: 15px;
    }
}

@media (max-width:1366px){
    .footer{
        font-size: 1.2em;
    }
}